body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: bolder;
  color : green;
}

.mainbox {
  width: 50%;
  max-width: 800px;
  min-height: 100vh;
  background-color: #FFFFFF;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

.center {

  margin : auto;
  width : 50%;
  text-align: center;
  
}

.toprow {
  color : blue;
  float: top;
}

.backdrop {
  background-color: #83bf82;
}